
<!-- Your navbar is here -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <i class="fas fa-cogs fa-spin"></i>
    <span style="margin-left:10px">Roberto Sanchez</span>
  </a>
</nav>

<div class="container-fluid" id="no-padding">
  <div class="row">
    <div class="col-12">
      <div class="video-container">
        <video src="assets/vid.mp4" autoplay></video>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- ng for goes here -->
    </div>

    <div class="col-6">
      <!-- form goes here -->
    </div>
  </div>
</div>



